<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Document360 knowledge base assistant start -->
<script>
    (function (w,d,s,o,f,js,fjs) {
        w['JS-Widget']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
        js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
        js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
    }(window, document, 'script', 'mw', 'https://cdn.document360.io/static/js/widget.js'));
    mw('init', { apiKey: 'qstNVgrrO9A6w9byiy2c/mrxbvocxCqsICCqqTmHzeb8MSc5WL0g2c5w8Tgt5nFb78o+ziCGfIHd6RFZl750gMnf+Szjm3WwSoAYDBZlFr2Pxr9vzXEkQf3Cks7P8FK0SREU40ptTcjeSnU8Qp3luw==' });
</script>
<!-- Document360 knowledge base assistant end -->
