<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<link rel="stylesheet" href="https://freetobook.helpjuice.com/swifty.css">
<script src="https://freetobook.helpjuice.com/swifty.js"></script>
<script>
    helpjuice_account_url = 'https://freetobook.helpjuice.com';
    helpjuice_contact_us_url = 'https://freetobook.helpjuice.com/contact-us';
    helpjuiceSwiftyConfig = {
        widgetPosition: 'topLeft',
        themeColor: '#E39D17',
        linkColor: '#3F51B5'
    }
    helpjuiceSwiftyUrlMap = {
    }
</script>